@use "../../styles/button" as button;
@use "../../styles/forms" as form;

@include button.buttonStyles();
@include form.formStyles();
.edit-course-form {
  display: flex;
  flex-direction: column;
  padding: 0 15px 15px 15px;
  color: white;
}

